@import '../variables.scss';

$btn-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'tetiary': $tetiary,
  'error': $error,
  'info': $info,
  'success': $success,
);

@mixin btn($bg-color: $primary) {
  cursor: pointer;
  border: 0;
  display: inline-block;
  background-color: $bg-color;
  padding: $base-padding 0;
  text-align: center;
  width: 130px;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: map-get($map: $font-weight, $key: 'base');
}

.btn {
  @include btn;
}

@each $key, $color in $btn-colors {
  .btn-#{$key} {
    @include btn($color);
    @if $color == $secondary {
      color: $primary;
    } @else if ($color == $primary) {
      background-color: darken($color, 20%);
    } @else {
      color: $secondary;
    }
    &:hover {
      background-color: darken($color, 10%);
      transform: scale(1.05);
      box-shadow: $base-box-shadow;
      transition: ease-in 0.3s;
    }
  }
}
