@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
.dashboard {
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #dddddd;
  padding-bottom: 3rem;
}
.dashboard .container {
  max-width: 740px;
}

.bg-pattern {
  margin-bottom: -130px;
  height: 200px;
  width: 100vw;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1014%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(14%2c 13%2c 13%2c 1)'%3e%3c/rect%3e%3ccircle r='93.335' cx='30.98' cy='26' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='285.49' cy='282.59' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.335' cx='835.95' cy='689.89' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='60.655' cx='215.5' cy='91.86' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='102.92' cx='541.56' cy='49.93' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='101.675' cx='448.47' cy='48.33' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='89.88' cx='1300.59' cy='497.32' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='159.095' cx='460.3' cy='422.11' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='50.1' cx='1329.46' cy='54.29' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='184.7' cx='423.14' cy='322.51' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='147.375' cx='128.36' cy='552.3' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='112.78' cx='948.07' cy='261.39' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='69.125' cx='649.67' cy='85.37' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='134.805' cx='123.15' cy='483.76' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='89.64' cx='496.24' cy='118.22' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='72.04' cx='1264' cy='395.02' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='171.47' cx='331.56' cy='427.72' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='179.505' cx='1283.32' cy='409.96' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='93.425' cx='264.52' cy='138.1' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='73.765' cx='281.15' cy='415.92' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='120.14' cx='1155.94' cy='396.06' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='82.285' cx='703.63' cy='92.28' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='112.37' cx='74.4' cy='27.63' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='142.795' cx='1115.99' cy='63.83' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='179.35' cx='23.62' cy='178.18' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='151.61' cx='477.22' cy='556.51' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='184.75' cx='946.5' cy='283.27' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='167.19' cx='204.39' cy='128.75' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='122.075' cx='962.1' cy='447.87' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='89.12' cx='1134.53' cy='420.18' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='55.71' cx='1092.38' cy='357.25' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='76.25' cx='1148.26' cy='50.08' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='104.51' cx='305.34' cy='270.88' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='155.25' cx='289.72' cy='385.67' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='92.7' cx='840.64' cy='316.11' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='167.405' cx='848.11' cy='38.93' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='179.22' cx='1070.74' cy='360.95' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='159.745' cx='156.95' cy='214.76' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='89.765' cx='1435.27' cy='248.38' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3ccircle r='115.09' cx='471.25' cy='474.27' stroke='%23181818' stroke-opacity='1' stroke-width='2'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1014'%3e%3crect width='1440' height='560' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.loading-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 90vh;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-container h3 {
  font-weight: 300;
}

.row {
  padding: 4rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(auto, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
@media (max-width: 720px) {
  .row {
    grid-template-columns: repeat(1, 100%);
  }
  .row .card {
    margin: 0 auto;
    padding-bottom: 4rem;
  }
}
.row .card .card-author {
  position: relative;
  font-size: 1.1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.row .card .card-author:hover {
  color: #13aa9a;
}

.profile {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.32);
  background-color: #181818;
  color: white;
  padding: 1.1rem 0;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.171);
}

.profile-container {
  width: 100%;
  margin: 1.2rem 2.5rem;
  display: flex;
  align-items: center;
}
.profile-container .profile-img {
  position: relative;
  transition: 0.4s ease-in;
}
.profile-container .profile-img .profile-img-logo {
  position: absolute;
  margin: auto;
  right: 0%;
  top: 0%;
  left: 0%;
  bottom: 0%;
  color: white;
  z-index: 99;
  width: 90px;
  height: 90px;
  opacity: 0;
  transition: 0.4s ease-in;
}
.profile-container .hover {
  transition: 0.4s ease-in;
  opacity: 0.7;
}
.profile-container .hover .profile-img-logo {
  opacity: 1;
  transition: 0.4s ease-in;
  pointer-events: none;
}
.profile-container .profile-img img {
  width: 180px;
  height: 180px;
  border-radius: 5000px;
  border: 3px solid white;
  cursor: pointer;
  transition: 0.7s ease-in;
}
.profile-container .profile-img img:hover {
  transition: 0.7s ease-in;
  opacity: 0.7;
}
.profile-container .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  margin-left: 1.2rem;
}
.profile-container .profile-info .profile-name-container .profile-name {
  font-size: 2rem;
  margin-bottom: 10px;
}
.profile-container .profile-info .profile-name-container .profile-username {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.profile-container .profile-info .profile-name-container .profile-username:hover {
  color: #13aa9a;
  cursor: pointer;
}
.profile-container .profile-info .profile-name-container button {
  padding: 0.3rem 0.35rem;
  font-size: 0.8rem;
  font-weight: 700;
}
.profile-container .profile-info .profile-name-container .action-btns {
  display: flex;
  gap: 0 5px;
}
@media (max-width: 480px) {
  .profile-container .profile-info .profile-name-container .action-btns {
    flex-direction: column;
    gap: 15px 0;
  }
}
.profile-container .profile-info .profile-name-container .action-btns .btn-edit-profile {
  display: flex;
  justify-content: center;
  border-radius: 1000px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  align-items: center;
  position: absolute;
  top: -5%;
  right: -3%;
  padding: 10px;
}
.profile-container .profile-info .profile-name-container .action-btns .btn-edit-profile .pencil-icon {
  width: 30px;
  height: 30px;
}
.profile-container .profile-info .profile-name-container .action-btns .btn-add-note {
  position: fixed;
  bottom: 10vh;
  right: 5%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 10px;
  font-size: 3rem;
  text-align: center;
  border-radius: 1000px;
  display: flex;
  align-items: center;
  z-index: 98;
}
@media (max-width: 720px) {
  .profile-container .profile-info .profile-name-container .action-btns .btn-add-note {
    bottom: 40vh;
  }
}
.profile-container .profile-info .profile-description {
  word-wrap: break-word;
  width: 90%;
  font-weight: 300;
}
@media (max-width: 720px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .profile-container .profile-info {
    margin-left: 0;
  }
  .profile-container .profile-info .profile-description {
    padding: 0 2rem;
  }
  .profile-container .profile-info .profile-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-container .profile-info .profile-name-container button {
    font-size: 0.8rem;
  }
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0 30px;
  padding-top: 2rem;
  align-items: center;
}/*# sourceMappingURL=dashboard.css.map */