@import '../../variables';

.home {
  width: 100vw;
  height: 100vh;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .main-text {
    font-size: 5rem;
    text-align: center;
    color: $secondary;
    margin-bottom: 0;
    .logo-small {
      font-weight: 100;
      font-style: italic;
    }
    .logo {
      font-weight: 300;
      font-style: bold;
    }
  }

  hr {
    border-style: dashed;
    width: 80%;
    border-color: $secondary;
  }

  .secondary-text {
    font-size: 1.5rem;
    font-weight: map-get($font-weight, 'light');
    color: $secondary;
    width: 80%;
    text-align: center;
  }
}
.btn-container {
  display: flex;
  gap: 0 10px;
}
