@import 'variables.scss';

body {
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.container-small {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 40px;
}

a {
  text-decoration: none;
  color: $secondary;
}

input {
  border: none;
}

.logo {
  color: $secondary;
  font-size: 25px;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;

  span {
    font-weight: 300;
    font-style: italic;
  }
}

.loading {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pwd-requisites {
  color: $error;
  .valid {
    color: $success;
  }
}

.error-message {
  width: 80%;
  color: $error;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding: 2px 2rem;
}
