@use "../../variables" as var;

.card {
  position: relative;
  height: 250px;
  width: 100%;
  display: flex;
  padding: 1.3rem 3rem;
  box-shadow: var.$small-box-shadow;
  flex-direction: column;
  width: fit-content;
  background-color: lighten(var.$secondary, 10%);
  color: var.$primary;

  &:hover {
    border-left: 3px solid var.$tetiary;
    transition: ease 0.3s;
  }
}

.card-header {
  font-size: 1.4rem;
  text-transform: capitalize;

  p {
    font-size: 0.8rem;
    font-weight: map-get($map: var.$font-weight, $key: "light");
  }
}

.card-tetiary {
  display: flex;
  gap: 0 10px;
  width: 100%;

  color: darken(var.$secondary, 30%);

  .pencil-icon {
    position: absolute;
    top: -0.6rem;
    right: -0.6rem;
    padding: 4px;
    font-size: 1.5rem;
    border-radius: 1000px;
    color: var.$tetiary;
    border: 1px solid var.$tetiary;

    &:hover {
      background-color: var.$tetiary;
      color: white;
    }
  }

  .trash-icon {
    padding: 4px;
    font-size: 1.5rem;
    border-radius: 1000px;

    &:hover {
      background-color: var.$error;
      color: white;
    }
  }
}
